
@{
    ViewBag.Title = "OrderNow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OrderNow</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Buy</th>
        </tr>
    </thead>

    <tbody>
        @foreach (PayPalIntegration.Models.Product item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.Price</td>
                <td><a href="@Url.Action("OrderNow","ShopingCart", new { id = @item.ProductId })">OrderNow</a> </td>

            </tr>
        }
    </tbody>
</table>



